.items {
  padding: 0.2rem;
  position: relative;
  border-radius: 0.5rem;
  //background: #FFF;
  //color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  font-size: 0.9rem;
  border-width: 0.2rem;
  //box-shadow:
  //        0 0 0 1px rgba(0, 0, 0, 0.05),
  //        0px 10px 20px rgba(0, 0, 0, 0.1);
}

.mention {
  border-color: #0c5eb1;
  border-width: 0.15rem;
  padding: 0.2rem 0.5rem;
  border-radius: 0.9rem;
}

.item {
  display: block;
  margin: 0;
  width: 100%;
  text-align: left;
  //background: transparent;
  border-radius: 0.4rem;
  //border: 1px solid transparent;
  padding: 0.2rem 0.4rem;

  //&.is-selected {
  //  border-color: #000;
  //  background-color: #eee;
  //}
}
